<?xml version="1.0"?>
<!--
/**
 * Magento
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@magentocommerce.com so we can send you a copy immediately.
 *
 * @category   Ecbank
 * @package    Ecbank_EcbankWebatm
 * @copyright  Copyright (c) 2010 Ecbank (http://www.ecbank.com.tw)
 */
-->
<config>
    <modules>
        <Ecbank_EcbankCvs>
            <version>1.2.6</version>
        </Ecbank_EcbankCvs>
    </modules>
    <global>
        <models>
            <ecbankcvs>
                <class>Ecbank_EcbankCvs_Model</class>
            </ecbankcvs>
        </models>
        <helpers>
	      <ecbankcvs>
            <class>Ecbank_EcbankCvs_Helper</class>
		  </ecbankcvs>
	    </helpers>
        <resources>
            <ecbankcvs_setup>
                <setup>
                    <module>Ecbank_EcbankCvs</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </ecbankcvs_setup>
            <ecbankcvs_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </ecbankcvs_write>
            <ecbankcvs_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </ecbankcvs_read>
        </resources>
        <blocks>
            <ecbankcvs><class>Ecbank_EcbankCvs_Block</class></ecbankcvs>
        </blocks>
    </global>
    <frontend>
        <secure_url>
            <ecbankcvs_processing>/ecbankcvs/processing</ecbankcvs_processing>
        </secure_url>
        <routers>
            <ecbankcvs>
                <use>standard</use>
                <args>
                    <module>Ecbank_EcbankCvs</module>
                    <frontName>ecbankcvs</frontName>
                </args>
            </ecbankcvs>
        </routers>
        <translate>
            <modules>
                <Ecbank_EcbankCvs>
                    <files>
                        <default>Ecbank_EcbankCvs.csv</default>
                    </files>
                </Ecbank_EcbankCvs>
            </modules>
        </translate>
        <layout>
            <updates>
                <ecbankcvs>
                    <file>ecbankcvs.xml</file>
                </ecbankcvs>
            </updates>
        </layout>
    </frontend>
	<default>
        <payment>        
            <ecbankcvs_cvs>
                <active>0</active>
                <model>ecbankcvs/cvs</model>
                <order_status>1</order_status>
                <title>超商代碼繳費(Ecbank)</title>
                <allowspecific>0</allowspecific>
            </ecbankcvs_cvs>
        </payment>
    </default> 
</config>
