<?xml version="1.0"?>
<!--
/**
 * Magento
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@magentocommerce.com so we can send you a copy immediately.
 *
 * @category   Ecbank
 * @package    Ecbank_EcbankWebatm
 * @copyright  Copyright (c) 2010 Ecbank (http://www.ecbank.com.tw)
 */
-->
<config>
    <modules>
        <Ecbank_EcbankIbon>
            <version>1.2.6</version>
        </Ecbank_EcbankIbon>
    </modules>
    <global>
        <models>
            <ecbankibon>
                <class>Ecbank_EcbankIbon_Model</class>
            </ecbankibon>
        </models>
        <helpers>
	      <ecbankibon>
            <class>Ecbank_EcbankIbon_Helper</class>
		  </ecbankibon>
	    </helpers>
        <resources>
            <ecbankibon_setup>
                <setup>
                    <module>Ecbank_EcbankIbon</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </ecbankibon_setup>
            <ecbankibon_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </ecbankibon_write>
            <ecbankibon_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </ecbankibon_read>
        </resources>
        <blocks>
            <ecbankibon><class>Ecbank_EcbankIbon_Block</class></ecbankibon>
        </blocks>
    </global>
    <frontend>
        <secure_url>
            <ecbankibon_processing>/ecbankibon/processing</ecbankibon_processing>
        </secure_url>
        <routers>
            <ecbankibon>
                <use>standard</use>
                <args>
                    <module>Ecbank_EcbankIbon</module>
                    <frontName>ecbankibon</frontName>
                </args>
            </ecbankibon>
        </routers>
        <translate>
            <modules>
                <Ecbank_EcbankIbon>
                    <files>
                        <default>Ecbank_EcbankIbon.csv</default>
                    </files>
                </Ecbank_EcbankIbon>
            </modules>
        </translate>
        <layout>
            <updates>
                <ecbankibon>
                    <file>ecbankibon.xml</file>
                </ecbankibon>
            </updates>
        </layout>
    </frontend>
	<default>
        <payment>        
            <ecbankibon_ibon>
                <active>0</active>
                <model>ecbankibon/ibon</model>
                <order_status>1</order_status>
                <title>7-11 Ibon平台繳費(Ecbank)</title>
                <allowspecific>0</allowspecific>
                <use_store_currency>0</use_store_currency>
                <request_type>authorize</request_type>
				<transaction_mode>test</transaction_mode>
				<fix_contact>1</fix_contact>
				<hide_contact>0</hide_contact>
                <enable_online_operations>0</enable_online_operations>
            </ecbankibon_ibon>
        </payment>
    </default> 
</config>
